.navbar {
    background-color: rgba(172, 171, 241, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
  
    .navbar-content {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
    }
  
    .nav-brand {
      font-size: 3rem;
      font-weight: bold;
      color: #333;
      text-decoration: none;
      font-family: fantasy;
    }
  
    .nav-links {
      display: flex;
      gap: 2rem;
      font-family: fantasy;
      font-size: 1.5rem;
  
      a {
        color: #666;
        text-decoration: none;
        transition: color 0.3s ease;
  
        &:hover {
          color: #333;
        }
  
        &.active {
          color: #633c3c;
          font-weight: 500;
        }
      }
    }
  }